
<div class="header" style="margin-top:1.5rem;">
    <button class="filter" mat-button routerLink="/register" 
            style="background-color: #33afd9;color:rgb(250, 246, 246);">
            New Registration
    </button>

    <mat-form-field class="filter" appearance="outline" >
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
</div>
<br>
<div class="table">
    <mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Client First Name">
            <th mat-header-cell *matHeaderCellDef>FIRST NAME</th>
            <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
        </ng-container>

        <ng-container matColumnDef="Client Last Name">
            <th mat-header-cell *matHeaderCellDef>LAST NAME</th>
            <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
        </ng-container>
    
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>
    
        <ng-container matColumnDef="Gender">
            <th mat-header-cell *matHeaderCellDef>Gender</th>
            <td mat-cell *matCellDef="let element">{{element.gender}}</td>
        </ng-container>
    
        <ng-container matColumnDef="BMI">
            <th mat-header-cell *matHeaderCellDef>BMI</th>
            <td mat-cell *matCellDef="let element">{{element.bmi}}</td>
        </ng-container>
    
        <ng-container matColumnDef="BMI Result">
            <th mat-header-cell *matHeaderCellDef>BMI Result</th>
            <td mat-cell *matCellDef="let element">{{element.bmiResult}}</td>
        </ng-container>    
    
        <ng-container matColumnDef="Enquiry Date">
            <th mat-header-cell *matHeaderCellDef>Enquiry Date</th>
            <td mat-cell *matCellDef="let element">{{element.enquiryDate | date}}</td>
        </ng-container>
    
        <ng-container matColumnDef="Package">
            <th mat-header-cell *matHeaderCellDef>Blood Group</th>
            <td mat-cell *matCellDef="let element">{{element.bloodGrp}}</td>
        </ng-container>
    
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
                <!-- <button mat-button [routerLink]="['/userdetails', element.id]">view</button> -->
                <button mat-button (click)="view(element.id)">view</button>
                <button mat-button (click)="edit(element.id)"><mat-icon>edit</mat-icon></button>
                <button mat-button (click)="delete(element.id)"><mat-icon>delete</mat-icon></button>
                

            </td>
        </ng-container>
    
        
    
        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>