<div class="img">
    <img>
</div>
<div class="registration">
    
        <form [formGroup]="registrationForm" class="row">
            <div class="box1">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput  formControlName="firstName">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="box2">
                <mat-form-field appearance="outline" >
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="box3">
                <mat-form-field appearance="outline" >
                    <mat-label>Email ID</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matIconSuffix>mail_outline</mat-icon>
                </mat-form-field>
            </div>
            <div class="box4">
                <mat-form-field appearance="outline" >
                    <mat-label>Mobile No</mat-label>
                    <input matInput formControlName="mobile" >
                    <mat-icon matIconSuffix>mobile_screen_share</mat-icon>
                </mat-form-field>
            </div>
            <div class="box5">
                <mat-form-field appearance="outline" >
                    <mat-label>Weight</mat-label>
                    <input matInput formControlName="weight" placeholder="in kgs">
                    <mat-icon matIconSuffix>line_weight</mat-icon>
                </mat-form-field>
            </div>
            <div class="box6">
                <mat-form-field appearance="outline" >
                    <mat-label>height</mat-label>
                    <input matInput formControlName="height" placeholder="in meters">
                    <mat-icon matIconSuffix><i class="fa fa-text-height" aria-hidden="true"></i></mat-icon>
                </mat-form-field>
            </div>
            <div class="box7">
                <mat-form-field appearance="outline" >
                    <mat-label>BMI</mat-label>
                    <input matInput readonly formControlName="bmi">
                    <mat-icon matIconSuffix><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i></mat-icon>
                </mat-form-field>
            </div>
            <div class="box8">
                <mat-form-field appearance="outline" >
                    <mat-label>BMI Result</mat-label>
                    <input matInput readonly formControlName="bmiResult">
                    <mat-icon matIconSuffix></mat-icon>
                </mat-form-field>
            </div>
            <div class="box9">
                <mat-label>Select your Gender</mat-label><br>
                <mat-radio-group color="primary" formControlName="gender">
                    <mat-radio-button value="Male">Male</mat-radio-button><br>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="box10">
                <mat-label>Do you require Specialist?</mat-label><br>
                <mat-radio-group color="primary" formControlName="requireSpecialist">
                    <mat-radio-button value="Yes">Yes</mat-radio-button><br>
                    <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="box11">
                <mat-form-field appearance="outline" >
                    <mat-label>Mention your Blood Type</mat-label>
                    <mat-select  formControlName="bloodGrp">
                        <mat-option *ngFor="let bloodGrp of bloodGrpList" [value]="bloodGrp">{{bloodGrp}}</mat-option>
                      </mat-select>
                </mat-form-field>
            </div>
            <div class="box12">
                <mat-form-field appearance="outline">
                    <mat-label>Affected by of these following Diseases?
                    </mat-label>
                    <mat-select  formControlName="diseasesList" multiple>
                      <mat-option *ngFor="let important of diseasesList" [value]="important">{{important}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="box13">
                <mat-form-field appearance="outline" >
                    <mat-label>Are you Regular Patient?</mat-label>
                    <mat-select formControlName="regularPatient" >
                        <mat-option value="Yes">Yes</mat-option>
                        <mat-option value="No">No</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="box14">
                <mat-form-field appearance="outline" f>
                    <mat-label>Enquiry Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="enquiryDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            
        </form>
        
        <br><br>
            <div style="display: flex;justify-content:center">
            <button mat-button *ngIf="!IsUpdate"
                    style="background-color: rgb(46, 192, 92);color:black" 
                    (click)="register()">
                Submit
            </button>
            <button mat-button *ngIf="IsUpdate"
            style="background-color: rgb(46, 192, 92);color:black" 
            (click)="update()">
                Update
            </button>
            </div>
    

</div>